.App {
  text-align: center;
}
button {
  cursor: grab;
}
button:active {
  cursor: grabbing;
}
.flex {
  display: flex;
  justify-content: center;
}
.stock-img {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  height: 250px;
  overflow-y: scroll;
  gap: 6px;
  justify-content: center;
  row-gap: 14px;
  margin: auto;
}
.custom-img {
  height: 200px;
  width: 150px;
  margin-bottom: 40px;

}
.custom-img:hover {
  backgound: pink;
  opacity: 0.7;
  cursor: pointer;
}
img {
  width: 150px;
  height: 150px;
}
.stock-container{
  width: 50%;
  margin: auto;
}
h4{
  display: inline-block;
}
.canvas-container {
  position: relative;
}

.canvas-with-border {
  border: 2px dashed #000000; /* Customize the border style as needed */
  background: transparent;
}